<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Photo Upload</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
   <link rel="stylesheet" href="css/bootstrap.min.css"/>    
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

	<script type="text/javascript" th:src="@{js/main.js}"></script>

</head>
<body>
<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
 
 	<input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
    <input type="file" name="file"/><br/><br/>
    
 
    <input type="submit" value="Submit" id="btnSubmit"/>
</form>

<h1>Ajax Post Result</h1>
<pre>
    <span id="result"></span>
</pre>


<script type="text/javascript" th:src="@{js/main.js}"></script>

</body>
</html>